default: &DEFAULT
  :address: localhost
  :port: 1025

sendgrid: &SENDGRID
  :address: smtp.sendgrid.net
  :port: 587
  :user_name: ENV["sendgrid_username"]
  :password: ENV["sendgrid_password"]
  :domain: secretsanta.website
  :authentication: :plain,
  :enable_starttls_auto: true

development:
  <<: *DEFAULT

test:
  <<: *DEFAULT

staging:
  <<: *SENDGRID

# Use SendGrid for production
production:
  <<: *SENDGRID