
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway);

$terra-cotta:     #ED6A5A;
$blond:           #F4F1BB;
$cambridge-blue:  #9BC1BC;
$black-coral:     #5D576B;
$platinum:        #E6EBE0;

// Neccessary to override bootstrap heading fonts
h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel Decorative" !important;
  color: #357edd;
}

.btn-default {
  background-color: white !important;
}
.btn-primary {
  background-color: #00449e !important;
}

p {
  font-family: "Raleway" !important;
}
