@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway);

// Neccessary to override bootstrap heading fonts
h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel Decorative" !important;
  color: #357edd;
}

.btn-default {
  background-color: white !important;
}
.btn-primary {
  background-color: #00449e !important;
}

p {
  font-family: "Raleway" !important;
}

.form-control {
  padding: 8px !important;
}
