@import url(//fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway|Roboto:300,400,500,700);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

/*Bootstrap Material Design */
@import url(//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css)
<link rel="stylesheet" type="text/css" href="dist/css/bootstrap-material-design.css">
<link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css">

/*Neccessary to override bootstrap heading fonts*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel Decorative" !important;
  color: white !important;
}

.navbar, p {
  font-family: "Raleway";
}

p {
  color: white !important;
}


<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Comfortaa" rel="stylesheet">
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Comfortaa');
