= simple_form_for [:member, @list] do |f|
  = f.input :name, hint: "Name this list, for example: Family Secret Santa"

  .form-actions
    = f.submit class: "btn btn-default"
    = link_to "Go back", :back, class: "btn btn-alt"
