%script{async: "async", "data-amount" => "3.00", "data-button" => "buynow", "data-number" => @list.id, "data-callback-url" => "https://secretsantawebsite.herokuapp.com/member/lists/#{@list.id}/list_payment", "data-currency" => "AUD", "data-name" => "Unlimited List", src: "https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=accounts@secretsanta.website" }
