%script{async: "async", "data-amount" => "3.00", "data-button" => "buynow", "data-number" => params[:list_id], "data-callback-url" => "https://www.secretsanta.website/member/lists/#{params[:list_id]}/list_payment", "data-currency" => "AUD", "data-name" => "Unlimited List", src: "https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=accounts-facilitator@secretsanta.website" }
