%main{role: "main"}
  %h1= current_page_title(@list.name)

  - if @list.santas.any?
    %table
      %thead
        %tr
          %th Name
          %th Email
        %tbody
          - @list.santas.each do |santa|
            %tr
              %td= santa.name
              %td= santa.email
  = link_to "Go Back", member_dashboard_index_path, class: "btn btn-default"
